In [49]:
import pandas as pd

In [50]:
df = pd.read_table("optimaDataset_14.dat")

Rearranging columns inorder to have 'Choice' field in column 1

In [57]:
df_columns = df.columns.tolist()
df_columns.remove('Choice')
df_columns.insert(1, 'Choice')
df_columns.remove('ReportedDuration')
df_columns.insert(2, 'ReportedDuration')
df_columns.remove('InVehicleTime')
df_columns.insert(3, 'InVehicleTime')
df = df[df_columns]

In [58]:
df.to_csv("optimaDataset_14.csv")
print(df.shape)
df.head()

(1719, 117)

,ID,Choice,ReportedDuration,InVehicleTime,DestAct,NbTransf,TimePT,WalkingTimePT,WaitingTimePT,CostPT,...,FreqCarPar,FreqTrainPar,FreqOtherPar,FreqTripHouseh,Region,distance_km,ModeToSchool,CoderegionCAR,age,Weight
1,53060420,0,146,166,3,3,200,20,14,33.0,...,4,2,2,4,6,128.0,5,6,18,0.002195
3,47130281,1,15,10,2,0,30,20,0,2.8,...,-1,4,-1,3,5,5.5,4,5,55,0.000368
4,95241108,1,61,120,9,5,231,68,43,29.2,...,2,2,2,1,7,102.0,3,7,76,0.000086
5,44670208,0,160,20,1,0,122,102,0,13.6,...,3,1,1,4,5,18.5,3,5,50,0.000109
6,90320845,1,15,27,7,1,42,11,4,3.0,...,2,2,2,3,7,10.0,5,7,74,0.000086

Removing rows whose choice value is NaN (-1)

In [59]:
df = df[df['Choice'] != -1]
print(df.shape)
df.head()

(1719, 117)

,ID,Choice,ReportedDuration,InVehicleTime,DestAct,NbTransf,TimePT,WalkingTimePT,WaitingTimePT,CostPT,...,FreqCarPar,FreqTrainPar,FreqOtherPar,FreqTripHouseh,Region,distance_km,ModeToSchool,CoderegionCAR,age,Weight
1,53060420,0,146,166,3,3,200,20,14,33.0,...,4,2,2,4,6,128.0,5,6,18,0.002195
3,47130281,1,15,10,2,0,30,20,0,2.8,...,-1,4,-1,3,5,5.5,4,5,55,0.000368
4,95241108,1,61,120,9,5,231,68,43,29.2,...,2,2,2,1,7,102.0,3,7,76,0.000086
5,44670208,0,160,20,1,0,122,102,0,13.6,...,3,1,1,4,5,18.5,3,5,50,0.000109
6,90320845,1,15,27,7,1,42,11,4,3.0,...,2,2,2,3,7,10.0,5,7,74,0.000086

In [60]:
df.to_csv("optimaDataset_14_NaNChoice_dropped.csv")